@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #CACACA;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;;
    text-align: center;
}
#con{
    width: 100% auto;
    height: 100% auto;
    gap: 20px;
    margin-top: 10px;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 20px;
}
.col{
    width: 100% auto;
    height: 100% auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #CACACA;
    margin: 10px 30px 20px 30px;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px #CACACA;
}
.col>div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
}
.icon-image{
    width: 150px;
 }
 .title{
    font-size: 25px;
    font-weight: 700;
 }

 .header-title h1{
    font-size: 50px;
    margin: 20px;
    font-weight: 700;
 }
